$titleFont: "Playfair Display", serif;
$textFont: "Montserrat", sans-serif;
$black: #000000;
$white: #ffffff;
$orange: #f2994a;
$gray1: #333333;
$gray2: #4f4f4f;
$gray4: #bdbdbd;
$dragColor: #c4c4c4;
$checkboxColor: #828282;
